/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative; }

.main-nav, .row, footer, header, nav, section, .five-wrapper, .portfolio-row, .portfolio-col a, .social-icons, .footer-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato', sans-serif; }

header, section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

nav, footer {
  height: 3.75rem; }

.main-nav, .fiv-wrapper, .footer-container {
  width: 80%; }

.main-nav li:first-child, .footer-container img {
  margin-right: auto; }

h1 {
  font-size: 2.625em;
  font-weight: 900; }

h1, header h3 {
  color: #fff; }

.cta, .cta-secondary {
  border-radius: .3125rem;
  color: #fff;
  display: inline-block;
  height: 3.375rem;
  line-height: 3.375rem;
  -webkit-transition: .3s background, .3s color;
          transition: .3s background, .3s color;
  width: 12.5rem; }

.one, .three, .six {
  height: 50vh; }

nav, .one, .two, .three, .four, .five, .six, .row, .portfolio-row, .portfolio-col a, footer {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.two {
  height: 60vh; }

section h2 {
  font-size: 2.12875rem;
  font-weight: 900;
  padding-bottom: .8125rem; }

section h3 {
  font-size: 1.01375em;
  font-weight: 300;
  padding-bottom: 3.3125rem; }

section h3, .col h3 {
  color: #333; }

section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  letter-spacing: 1px;
  line-height: 1.75em;
  max-width: 40vw;
  text-align: center; }

section h3, section p {
  color: #888; }

.three h2, .six h2 {
  padding-bottom: 2.25rem;
  color: #fff; }

a {
  text-decoration: none; }

.row {
  width: 80vw; }

.col {
  max-width: 270px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center; }

.col h3 {
  font-size: 1.62187em;
  font-weight: 900;
  padding-bottom: 2.125rem;
  padding-top: 2.125rem; }

.col p {
  font-size: .875em; }

header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../../site/images/Layer-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

nav {
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: .3s background, .3s color;
          transition: .3s background, .3s color;
  width: 100%;
  z-index: 150; }

nav.scrolled {
  background: #00b09c; }

nav.scrolled .main-nav li a {
  color: #fff; }

nav.scrolled .main-nav li a:hover {
  color: #333; }

.main-nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%; }

.main-nav li:first-child {
  margin-right: auto; }

.main-nav li a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: .3s color;
          transition: .3s color; }

.main-nav li a:hover {
  color: #fff; }

.header-content {
  text-align: center; }

header h1 {
  font-weight: 900;
  padding-bottom: .875rem; }

header h3 {
  font-size: 1.75em;
  font-weight: 300;
  padding-bottom: 2.875rem; }

.cta {
  background: #00b09c; }

.cta:hover {
  background: #00cd99; }

.two {
  background: #f8f8f8; }

.two .fa {
  background: #fff;
  border: 2px solid rgba(136, 136, 136, 0.2);
  border-radius: 50%;
  color: #00b09c;
  display: inline-block;
  font-size: 2.625em;
  height: 6.25rem;
  line-height: 6.25rem;
  width: 6.25rem; }

.three {
  background: url('../../site/images/Layer-2-copy-3.png');
  background-repeat: no-repeat;
  background-size: cover; }

.three h2 {
  padding-bottom: 2.25rem;
  color: #fff; }

.cta-secondary {
  border: 2px solid #fff;
  text-align: center; }

.cta-secondary:hover {
  background: #fff;
  color: #333; }

.four {
  height: 90vh; }

.portfolio-row {
  width: 100%;
  margin-bottom: 1.25rem; }

.portfolio-row .portfolio-col {
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.75rem;
  margin-right: 1.25rem;
  position: relative; }

.portfolio-col a {
  background: rgba(0, 176, 156, 0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition: .3s opacity;
          transition: .3s opacity;
  width: 100%; }

.portfolio-col a:hover {
  opacity: 1; }

.portfolio-col a h2, .portfolio-col a h3 {
  color: #fff; }

.portfolio-col {
  width: 18.75rem; }

.col-one {
  background: url('../../site/images/Layer-16.png');
  width: 38.75rem; }

.col-two {
  background: url('../../site/images/Layer-17.png'); }

.col-three {
  background: url('../../site/images/Layer-18.png'); }

.col-four {
  background: url('../../site/images/Layer-19.png'); }

.col-five {
  background: url('../../site/images/Layer-20.png'); }

.five {
  background: #fff, url('../../site/images/Saturation-1.png');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover; }

.five {
  height: 60vh; }

.five-wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw; }

.five form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.five form input, .five form textarea {
  border: 0;
  border-radius: 5px;
  outline: none;
  -webkit-transition: .3s box-shadow;
          transition: .3s box-shadow; }

.five form input:focus, .five form textarea:focus {
  box-shadow: 0 0 5px #00b09c; }

.five form input[type="text"], .five form input[type="email"] {
  padding-bottom: 1.1875rem;
  padding-left: 1.625rem;
  padding-top: 1.1875rem;
  width: 17.75rem; }

.five form input[type="text"] {
  margin-right: 1.25rem; }

.five form textarea {
  height: 12.5625em;
  margin-bottom: 1.25rem;
  margin-top: 1.3125rem;
  padding-left: 1.625rem;
  padding-top: 1.25rem;
  resize: none;
  width: 38.375rem; }

.five form .cta {
  display: block;
  margin-left: 27.675rem; }

.contact-info {
  color: #888;
  line-height: 1.5rem;
  padding-left: 3.75rem; }

.contact-info .contact li a {
  color: #888;
  -webkit-transition: .3s color;
          transition: .3s color; }

.contact-info .contact li a:hover {
  color: #333; }

.contact-info ul li {
  font-size: .875rem; }

.contact-info h4 {
  color: #333;
  font-weight: 900;
  padding-bottom: 1.3125rem; }

.contact-info ul {
  padding-bottom: 2.125rem; }

.contact-info .fa {
  border: 2px solid #888;
  border-radius: 50%;
  color: #888;
  font-size: 1.3rem;
  height: 2.625rem;
  line-height: 2.625rem;
  margin-right: 1.0625rem;
  text-align: center;
  -webkit-transition: .3s border, .3s color;
          transition: .3s border, .3s color;
  width: 2.625rem; }

.contact-info .fa:hover {
  border: 2px solid; }

.fa-facebook:hover {
  color: #3b5998; }

.fa-twitter:hover {
  color: #4099ff; }

.fa-dribbble:hover {
  color: #c73b6f; }

.fa-behance:hover {
  color: #1769ff; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  letter-spacing: 1px;
  font-weight: 300; }

.six {
  background: url('../../site/images/Layer-2-copy-5.png');
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  background: #333; }

footer small {
  color: #888;
  font-size: .8125rem; }
