.five {
  background: $white,
              url('../../site/images/Saturation-1.png');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

.five {
  height: 60vh;
}

.five-wrapper {
  justify-content: center;
  width: 80vw;
}

.five form {
  flex-direction: column;
}

.five form input,
.five form textarea {
  border: 0;
  border-radius: 5px;
}

.five form input[type="text"],
.five form input[type="email"] {
  padding-bottom: 1.1875rem;
  padding-left: 1.625rem;
  padding-top: 1.1875rem;
  width: 17.75rem;
}

.five form input[type="text"] {
  margin-right: 1.25rem;
}

.five form textarea {
  height: 12.5625em;
  margin-bottom: 1.25rem;
  margin-top: 1.3125rem;
  padding-left: 1.625rem;
  padding-top: 1.25rem;
  resize: none;
  width: 38.375rem;
}

.five form .cta {
  display: block;
  margin-left: 38.375rem - 10.7; //width of textarea minus magic number
}

.contact-info {
  color: $copy-color;
  line-height: 1.5rem;
  padding-left: 3.75rem;
}

.contact-info .contact li a {
  color: $copy-color;
  transition: $hover;
}

.contact-info .contact li a:hover {
  color: $section-heading-color;
}

.contact-info ul li {
  font-size: .875rem;
}

.contact-info h4 {
  color: $section-heading-color;
  font-weight: 900;
  padding-bottom: 1.3125rem;
}

.contact-info ul {
  padding-bottom: 2.125rem;
}

.contact-info .fa {
  border: 2px solid $copy-color;
  border-radius: 50%;
  color: $copy-color;
  font-size: 1.3rem;
  height: 2.625rem;
  line-height: 2.625rem;
  margin-right: 1.0625rem;
  text-align: center;
  transition: $hover-border, $hover;
  width: 2.625rem;
}

.contact-info .fa:hover {
  border: 2px solid;
}


.fa-facebook:hover {
  color: $facebook;
}

.fa-twitter:hover {
  color: $twitter;
}

.fa-dribbble:hover {
  color: $dribbble;
}

.fa-behance:hover {
  color: $behance;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $placeholder-color;
  font-family: $font-primary;
  font-size: .875rem;
  letter-spacing: 1px;
  font-weight: 300;
}
