
.four {
  height: 90vh;
}

.portfolio-row {
  margin-bottom: 1.25rem;
  width: 100%;
}

.portfolio-row .portfolio-col {
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.75rem;
  margin-right: 1.25rem;
  position: relative;
}

.portfolio-col a {
  background: $cta-trans;
  flex-direction: column;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  // top: 0;
  transition: $hover-op;
  width: 100%;
}

.portfolio-col a:hover {
  opacity: 1;
}

.portfolio-col a h2,
.portfolio-col a h3 {
  color: $white;
}


.portfolio-col {
  width: 18.75rem;
}

.col-one {
  background: url('../../site/images/Layer-16.png');
  width: 38.75rem;
}

.col-two {
  background: url('../../site/images/Layer-17.png');
  margin-right: 0;
}

.col-three {
  background: url('../../site/images/Layer-18.png');
}

.col-four {
  background: url('../../site/images/Layer-19.png');
}

.col-five {
  background: url('../../site/images/Layer-20.png');
}


@media screen and (max-width: 1366px) {

  .four,
  .portfolio-row {
    height: auto;
  }

  .portfolio-col a {
    bottom: 0;
    height: 30%;
    left: 0;
    opacity: 1;
    padding: 1rem 0;
  }

  .portfolio-col a h3 {
    padding: 0;
  }

}


@media screen and (max-width: 960px) {

  .four {
    display: block;
    text-align: center;
  }

  .portfolio-row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .portfolio-col {
    flex-grow: 2;
    margin-bottom: 1rem;
    width: 80vw;
  }

}
