// Global CSS goes here
body {
  position: relative;
}

.main-nav,
.row,
footer,
header,
nav,
section,
.portfolio-row,
.portfolio-col a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-family: $font-primary;

}

header,
section {
  flex-direction: column;
}

h1 {
  font-size: 2.625em;
  font-weight: 900;
}

h1,
header h3 {
  color: $white;
}

.cta,
.cta-secondary {
  border-radius: .3125rem;
  color: $white;
  display: inline-block;
  height: 3.375rem;
  line-height: 3.375rem;
  transition: $hover-bg, $hover;
  width: 12.5rem;
}

// ======================== //
//   Basic Section Syles    //
// ======================== //

.one,
.three {
  height: 50vh;
}

.one,
.two,
.three,
.four,
.row,
.portfolio-row,
.portfolio-col a {
  align-items: center;
  justify-content: center;
}

.two {
  height: 60vh;
}

section h2 {
  font-size: 2.12875rem;
  font-weight: $extra-bold;
  padding-bottom: .8125rem;
}

section h3 {
  font-size: 1.01375em;
  font-weight: $light;
  padding-bottom: 3.3125rem;
}

section h3,
.col h3 {
  color: $section-heading-color;
}

section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  letter-spacing: 1px;
  line-height: 1.75em;
  max-width: 40vw;
  text-align: center;
}

section h3,
section p {
  color: $copy-color;
}

a {
  text-decoration: none;
}


// ======================== //
//   Column Syles           //
// ======================== //

.row {
  width: 80vw;
}

.col {
  max-width: 270px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.col h3 {
  font-size: 1.621875em;
  font-weight: $extra-bold;
  padding-bottom: 2.125rem;
  padding-top: 2.125rem;
}

.col p {
  font-size: .875em;
}
