// Font Stack
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// Colors
$behance: #1769ff;
$bg-secondary: #f8f8f8;
$border-color: 2px solid rgba(136, 136, 136, .2);
$cta: #00b09c;
$cta-light: rgb(0, 205, 153);
$cta-trans: rgba(0, 176, 156, .8);
$copy-color: #888;
$dribbble: #c73b6f;
$facebook: #3b5998;
$link-trans: rgba(255, 255, 255, .5);
$placeholder-color: #ccc;
$section-heading-color: #333;
$twitter: #4099ff;
$white: #fff;

// Transitions
$hover: .3s color;
$hover-border: .3s border;
$hover-bg: .3s background;
$hover-op: .3s opacity;

// Font-weights
$light: 300;
$medium: 400;
$extra-bold: 900;
