// Variables go here
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$cta: #00b09c;
$copy-color: #888;
$bg-secondary: #f8f8f8;
$white: #fff;
$hover: .3s color;
$hover-bg: .3s background;
$link-trans: rgba(255, 255, 255, .5);
$cta-light: rgb(0, 205, 153);
$light: 300;
$medium: 400;
$extra-bold: 900;
