// Font Stack
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// Colors
$bg-secondary: #f8f8f8;
$border-color: 2px solid rgba(136, 136, 136, .2);
$cta: #00b09c;
$cta-light: rgb(0, 205, 153);
$copy-color: #888;
$link-trans: rgba(255, 255, 255, .5);
$section-heading-color: #333;
$white: #fff;

// Transitions
$hover: .3s color;
$hover-bg: .3s background;

// Font-weights
$light: 300;
$medium: 400;
$extra-bold: 900;
